*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Comic Neue",sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   }

body {

    height: 100vh;
  /*  display: flex;
    font-size: 1rem;
   /* flex-direction: column;
    justify-content: center;
    align-items: center;*/
   
}
 .container-flex{
    display: flex;
border: 10px ;
  height: 100vh;
  width: auto;
  flex-direction: row;
  /*flex-wrap: wrap ;*/
   justify-content: space-around;
    align-items: center;
} 
.container-nav,
.container-form ,.titreg{
    border: 2px solid red ;
}
.container-nav{
width: fit-content;

}
.container-form{

  width: fit-content;
 flex-wrap: wrap ;
 
}

nav {
   width: 200px;
    font-size: 100%;
  /*    margin-left: 50px ;
    float: right; */
    text-align: center;
 /*   transform: translate(0px, 1100px );*/
   
}

nav a{
    display: block;
    margin-top: 40px;
    padding: 10px;
    border: solid;
    /*z-index: 1;*/
    border-radius: 50px;
    text-align: center;
}
.active{
    text-decoration: none;
    color: black;
    background-color: green;
    border: solid;
}
.nav-about{
    text-decoration: none;
    border: solid;
    background-color: skyblue;
}
.nav-contact{
    text-decoration: none;
    border: solid;
    background-color: skyblue;
}
.nav-rules{
    text-decoration: none;
    border: solid;
    background-color: skyblue;
}
.nav-gameinfo{
    text-decoration: none;
    border: solid;
    background-color: skyblue;
}
/*
.barra {
    padding: 0;
    width: 1280px;
    background-color: black;
    text-decoration-color: none;
    color: white;
    text-align: center;
    position: relative;
    transform: translate(-200px, -1000px );
}
.titulos{
    transform: translate(200px, -900px );
font-size: xx-large;

}
section {
    position: relative;
    margin-left: 200px;
    text-align: left;
    bottom: 00px;
}
article{
    font-size: 11px;
    margin-left: 50px ;
    padding:  10px;
    }

 table {
        width: 50%;
        background-color: green;
        transform: translate(400px, -900px ); 
     }
     th, td {
        width: 25%;
        text-align: right;
        border: solid 1px black;
        padding: 0 ;
     }*/
     form{
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 10px;
        width: 800px;
        background-color: #E2DBDA ;
       }
    li{
        list-style:none;
    }
       .inputchico{
        width: 200px;
    }
    .inputchico1{
        width: 100px;
    }
     .inputgrande{
        width: 500px;
    }
    .titreg{
        text-align: center;
    }